@model IEnumerable<PolyBook.Domain.Entities.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Year</td>
            <td><a href="~/Admin/Books/Edit/@book.Id">Редактировать</a></td>
        </tr>
    }
</div>
