body {
    background-image: url(../img/backgroundpattern.png);
    background-size: 300px 300px;
    color: #242730;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #f4f4f4;
    height: 100vh;
    max-width: 1300px;
    min-width: 900px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 390px auto;
    grid-template-rows: 80px auto 40px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

header{
    position: relative;
    grid-column: 1 / 3;
    background-color: #f0f0f0;
    background-image:url(../img/header.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{
    position: absolute; left: 280px; top: 5px;
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    color: #039ae7;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);

    background: linear-gradient(to left, #039ae7, #43ccff, #039ae7, #242730, #039ae7);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: logo 2s linear infinite;
}
@keyframes logo {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:200% 200%}
}

#loginlink{
    font-weight: bold;
    color: #039ae7;
    font-size: 16px;
    position: absolute;
    right: 180px;
    top: 45px;
    transition-duration: 0.2s;
}
#loginlink:hover {
    transition-duration: 0.2s;
    color: #ffffff;
    text-shadow: 0 0 5px #039ae7;
}

footer{
    grid-column: 1 / 3;
    background-color: #242730;
}

nav {
    background-color: #2d313d;
    color: #b5b9c4;
    font-size: 18px;
}

/*.rainbowtext {
    background: linear-gradient(to left, #ffb8d0, #eaadf6, #a3baf2, #92e297, #ffd78a, #f9688a, #ffb8d0);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: rainbowtext 2s linear infinite;
}
@keyframes rainbowtext {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:200% 200%}
}
*/
.button1 {
    font-size: 14px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    background: #039ae7;
    color: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

    .button1:before {
        border-radius: 10px;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #43ccff;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .button1:hover:before, .button1:focus:before, .button1:active:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

.button2 {
    background-color: #2d313d;
    height: 50px;
    padding: 12px 15px 16px 15px;
    margin-left: -5px;
    width: auto;
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
}

    .button2:before {
        border-radius: 0px 7px 7px 0px;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ee463c;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .button2:hover, .button2:focus, .button2:active {
        color: white;
    }

        .button2:hover:before, .button2:focus:before, .button2:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

#marketbutton {
    border: solid 1px #ee463c;
}

#libbutton {
    border: solid 1px #fc9616;
}

    #libbutton:before {
        background: #fc9616;
    }

#searchbutton {
    border: solid 1px #687a84;
}

    #searchbutton:before {
        background: #687a84;
    }

#recombutton {
    border: solid 1px #687a84;
}

    #recombutton:before {
        background: #687a84;
    }


.title {
    margin-top: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    display: block;
    border-bottom: solid 2px #242730;
}

h1{
    font-size: 18px;
    color: #b5b9c4;
    border-bottom: solid 1px #b5b9c4;
    margin-bottom: 10px;
}


#profile {
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
    background-color: #242730;
    height: 190px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 250px;
    grid-template-rows: 100px 50px;
}

#profileimg {
    max-width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 7px #43ccff;
}

#profilewelcome {
    margin: auto 0;
    line-height: 1;
    padding-left: 20px;
}

#profilebutton {
    grid-column: 1 / 3;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 170px 10px 170px;
}

.editicon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    background-image: url(../img/iconedit.png);
    background-size: 100%;
    transition: background 0.3s ease;
}

.editicon:hover {
    background-image: url(../img/iconedithover.png);
    transition: background 0.3s ease;
}


.profiletext{
    font-size: 12px;
    color: #ffffff;
}
.profilemaintext{
    line-height: 2;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 0 0 7px #43ccff;
}

.br10 {
    height: 10px;
}

.br20 {
    height: 20px;
}

#categories {
    padding: 0 20px;
}

.category {
    margin-top: 10px;
}

.categoryicon {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: bottom;
}

#content {
    overflow-y: scroll;
    width: 100%;
    min-width: 630px;
    padding: 20px;
    color: #2d313d;
    font-size: 14px;
}

.contentblock {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.boardscroll {
    display: grid;
    grid-template-columns: 271px 271px 271px 271px 271px 271px 271px;
    width: 1888px;
    overflow-x: hidden;
    white-space: nowrap;
}

.board {
    max-width: 830px;
    padding-bottom: 10px;
    overflow-x: scroll;
}

.post {
    position: relative;
    outline: 1px solid #b5b9c4;
    outline-offset: -1px;
    height: 350px;
    width: 262px;
    display: grid;
    grid-auto-rows: 50px 225px 75px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.posticon {
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 0px 0px 30px 0;
    width: 30px;
    height: 30px;
    background-color: #687a84;
}

.postname {
    width: 262px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
    padding: 0 20px 0 35px;
}

.postimg {
    border-top: solid 1px #687a84;
    padding: 5px 0;
    transition-duration: 0.2s;
}

.post .photo{
    height: 215px;
    width: 267px;
}

.post:hover .photo {
    transition-duration: 0.2s;
    filter: grayscale(.75);
    transform: scale(0.95); 
}

.postinfo {
    font-size: 12px;
    padding: 0 20px;
    text-align: center;
}

#bigpost{
    width: 533px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 270px 263px;
    grid-auto-rows: 215px auto;
}
#bigpost .photo{
    height: 215px;
    width: 270px;
}

#bigpost .postinfo{
text-align: left;
padding: 0;
margin: auto auto auto 20px;
font-size: 14px;
}

#bigposttext{
    padding-top: 20px;
    grid-column: 1 / 3;
    text-align: center;
}

#gallerygrid{
display: grid;
margin: 0 auto;
grid-template-columns: 271px 262px;
width: 533px;
}
.gallergridblock{
margin: 0 auto 5px 0;}

@media (min-width: 1300px) { 
#gallerygrid{
grid-template-columns: 33.3% 33.3% 33.3%;
width: 813px;
}
.gallergridblock{
margin: 0 auto 5px auto;}
}

label{
    font-weight: bold;
    margin: auto 0;
}
input{
    width: 533px;
}
input[type=radio]{
width: auto;
}
textarea{
    width: 533px;
    height: 200px;
    resize: none;
}

.validation-summary-errors{
    color: #ee463c;
}


#selectaccountmode{
    display: grid;
    grid-template-columns: 50% 50%;
}
.accountmode{
    padding: 10px;
    margin: 0 30px;
    border-radius: 10px 10px 0px 0px;   
    text-align: center;
    font-weight: bold;
    background-color:#687a84;
    color: #ffffff;
    text-decoration: none;
}
.accountmode:hover {
    background-color:#687a84bb;
    transition-duration: 0.2s;
}
.selectedmode {
    background-color: #039ae7;
}
.selectedmode:hover {
    background-color: #039ae7; 
}

.accountformrow{
    display: grid;
    grid-template-columns: 170px auto;
    margin-bottom: 10px;
}
.accountform input{
    width: 100%;
}
.accountform button{
    width: 100%;
    font-weight: bold;
}
.remembermerow{
    font-weight: normal;
    text-align: center;
}
.remembermerow input{
    width: auto;
    vertical-align: bottom;
}
.remembermerow label{
    font-weight: normal;
}